{% extends "base.html" %}
{% load static %}
{% load range %}

{% block main_content %}
<div class="row">
    <div class="col-lg-12">
        <h3>Rozgrywka</h3>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <h4>Playing {{ game }}</h4>
                    {{ game.creator }} vs {{ game.opponent }}
                </div>
            </div>
            <div class="col-md-8">
                <div class="well">


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}