{% extends "base.html" %}
{% block main_content %}
<div>
    <h1 style="margin-bottom: 20px;">Baza pytań</h1>
    <ul style="list-style: none;">
        <li
            style="margin-top: 40px; font-size: 16px;  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; padding: 24px;">
            <div>
                <p>Tresc pytania</p>
                <span style="color: green;">Poprawna odpowiedz:
                    lorem ipsum</span>
            </div>
        </li>
        <li
            style="margin-top: 40px; font-size: 16px;  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; padding: 24px;">
            <div>
                <p>Tresc pytania</p>
                <span style="color: green;">Poprawna odpowiedz:
                    lorem ipsum</span>
            </div>
        </li>
        <li
            style="margin-top: 40px; font-size: 16px;  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; padding: 24px;">
            <div>
                <p>Tresc pytania</p>
                <span style="color: green;">Poprawna odpowiedz:
                    lorem ipsum</span>
            </div>
        </li>
        <li
            style="margin-top: 40px; font-size: 16px;  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; padding: 24px;">
            <div>
                <p>Tresc pytania</p>
                <span style="color: green;">Poprawna odpowiedz:
                    lorem ipsum</span>
            </div>
        </li>
        <li
            style="margin-top: 40px; font-size: 16px;  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; padding: 24px;">
            <div>
                <p>Tresc pytania</p>
                <span style="color: green;">Poprawna odpowiedz:
                    lorem ipsum</span>
            </div>
        </li>

    </ul>
</div>
{% endblock %}