{% extends "base.html" %}
{% block main_content %}
<div style="text-align: center;">

    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
        style="position: absolute; left: 40px; top: 300px; width: 300px">
        <path fill="#39CCCC"
            d="M57.1,-58.6C70.4,-43.8,75.1,-21.9,71.3,-3.9C67.4,14.2,54.9,28.3,41.6,38.9C28.3,49.5,14.2,56.6,-3.3,59.9C-20.8,63.2,-41.5,62.7,-51.3,52.1C-61.1,41.5,-59.9,20.8,-60.7,-0.8C-61.4,-22.3,-64.2,-44.6,-54.4,-59.4C-44.6,-74.3,-22.3,-81.6,-0.2,-81.4C21.9,-81.2,43.8,-73.4,57.1,-58.6Z"
            transform="translate(100 100)" />
    </svg>
    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
        style="position: absolute; right: 40px; bottom: 100px; width: 300px">
        <path fill="#B10DC9"
            d="M27.2,-18C40.9,-13.5,61.6,-6.8,64.6,3C67.6,12.7,52.9,25.5,39.2,38.3C25.5,51.2,12.7,64.1,-2.1,66.2C-16.9,68.2,-33.8,59.5,-48.7,46.7C-63.5,33.8,-76.3,16.9,-78.4,-2.1C-80.5,-21.1,-72,-42.3,-57.1,-46.8C-42.3,-51.3,-21.1,-39.1,-7.2,-31.9C6.8,-24.7,13.5,-22.5,27.2,-18Z"
            transform="translate(100 100)" />
    </svg>
    <h1 style="margin-bottom: 50px;">Poziomy</h1>
    <div style="display: flex;  width: 100%; flex-direction: column; ">
        <div style="display: flex; flex-direction: column; margin-bottom: 40px; text-align: start; ">
            <span style="color: #B10DC9; font-weight: bold; font-size: 28px; margin-bottom: 20px;">
                komunikacja</span>
            <ol style="display: flex; flex-direction: column; text-align: start; font-size: 15px; line-height: 24px;">
                <li>Quiz - pytania dotyczące komunikacji w zespole</li>
                <li>Każdy gracz odpowiada na pytanie</li>
                <li>Wyświetlanie odpowiedzi i protipu dla pytania</li>
                <li>Wyświetlanie odpowiedzi i statystyk dla zespołu</li>
                <li>Przy niektórych pytaniach dodatkowo może wystąpić dodatkowe pytanie do dyskusji w zespole</li>
            </ol>
        </div>
        <div style="display: flex; flex-direction: column; margin-bottom: 40px; text-align: start; ">
            <span style="color: #39CCCC; font-weight: bold; font-size: 28px; margin-bottom: 20px;">
                konflikt</span>
            <ol style="display: flex; flex-direction: column; text-align: start;  font-size: 15px; line-height: 24px">
                <li>Quiz - samodzielne rozwiązywanie quizu o asertywności</li>
                <li>Statystyki i porównanie wyników zespołu</li>
                <li>Informacje o róznych sposobach reagowania na konflikt</li>
            </ol>
        </div>
        <div style="display: flex; flex-direction: column; margin-bottom: 40px; text-align: start; ">
            <span style="color: #001f3f; font-weight: bold; font-size: 28px; margin-bottom: 20px;"> bądź
                zwinny</span>
            <ol style="display: flex; flex-direction: column; text-align: start; font-size: 15px; line-height: 24px">
                <li>Quiz - pytania dotyczące scruma</li>
                <li>Każdy gracz odpowiada na pytanie</li>
                <li>Wyświetlanie odpowiedzi i protipu dla pytania</li>
                <li>Wyświetlenie punktacji i statystyk dla zespołu</li>
                <li>Przy niektórych pytaniach dodatkowo może wystąpić dodatkowe pytanie do dyskusji w zespole</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}